@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Simple reset for browser default stylesheet */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    margin: 10px;
    text-align: right;
}
nav li,a {
    display: inline;
    list-style: none;
    text-decoration: none;
    padding-right: 10px;
    font-size: 13px;
}
nav li:hover {
    text-decoration: underline;
}

button {
    background: #4285f4;
    border: 1px solid #4285f4;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    border-radius: 3px;
}

.search {
    display: flex;    
    align-items: center;       
    justify-content: center;
  }
.search img {
    margin-top: 100px;
}
